<form id="resetPasswordRequest" v-cloak>
  <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-lg">
        <input class="form-control required" id="email" name="email" v-model="email" size="30" type="email" value="" placeholder="Email"/>
      </div>

      <div class="alert alert-{{msgType}}" role="alert" v-if="msg">{{msg}}</div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Send reset request email</button>
  </div>
</form>
<%
  block('moduleScript').append(
    Loader('/public/build/resetPasswordRequest.min.js')
      .js('/public/js/auth/resetPasswordRequest.js')
      .done(assets, config.site_static_host)
  )
%>
