<form id="signup" class='signup' v-cloak>
  <div class="col-md-4 col-md-offset-4">
      <div class="form-group form-group-lg">
        <input class="form-control required" id="loginId" name="loginId" v-model="loginId" size="30" type="text" value="" placeholder="Login ID"/>
      </div>

      <div class="form-group form-group-lg">
        <input class="form-control required" id="phone" name="phone" v-model="phone" size="11" type="number" value="" placeholder="Phone"/>
      </div>

      <div class="form-group form-group-lg">
        <input class="form-control required" id="email" name="email" v-model="email" size="30" type="email" value="" placeholder="Email"/>
      </div>

      <div class='form-group form-group-lg'>
        <div class="input-group">
          <input class='form-control required' id="password" name="password" v-model='password' size='30' type='password' placeholder="Password"/>
          <div id="passwordToolTip" class='btn input-group-addon' v-on:click="showPassword">{{passwordHintText}}</div>
        </div>
        <label for="password"></label>
        <div v-if="passwordHint">
          <span>{{password}}</span>
        </div>
      </div>

      <div class="alert alert-danger" role="alert" v-if="errorMsg">{{errorMsg}}</div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
  </div>
</form>
<%
  block('moduleScript').append(
    Loader('/public/build/signup.min.js')
      .js('/public/js/auth/signup.js')
      .done(assets, config.base.staticAsset.host, config.base.staticAsset.combo)
  )
%>
